USE [ioasysDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/07/2020 16:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enterprises]    Script Date: 19/07/2020 16:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enterprises](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Linkedin] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[OwnEnterprise] [bit] NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[Shares] [int] NOT NULL,
	[SharePrice] [decimal](18, 2) NOT NULL,
	[OwnShares] [int] NOT NULL,
	[City] [nvarchar](150) NOT NULL,
	[Country] [nvarchar](150) NOT NULL,
	[EnterpriseTypeId] [tinyint] NOT NULL,
	[UserId] [bigint] NULL,
 CONSTRAINT [PK_Enterprises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnterpriseTypes]    Script Date: 19/07/2020 16:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterpriseTypes](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_EnterpriseTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investors]    Script Date: 19/07/2020 16:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investors](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[City] [nvarchar](150) NOT NULL,
	[Country] [nvarchar](150) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[PortfolioValue] [decimal](18, 2) NOT NULL,
	[FirstAccess] [bit] NOT NULL,
	[SuperAngel] [bit] NOT NULL,
	[UserId] [bigint] NULL,
 CONSTRAINT [PK_Investors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolios]    Script Date: 19/07/2020 16:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolios](
	[InvestorId] [bigint] NOT NULL,
	[EnterpriseId] [bigint] NOT NULL,
 CONSTRAINT [PK_Portfolios] PRIMARY KEY CLUSTERED 
(
	[InvestorId] ASC,
	[EnterpriseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/07/2020 16:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200718041852_CreateTables', N'3.1.6')
GO
SET IDENTITY_INSERT [dbo].[Enterprises] ON 

GO
SET IDENTITY_INSERT [dbo].[Enterprises] OFF
GO
INSERT [dbo].[EnterpriseTypes] ([Id], [Name]) VALUES (1, N'Agro')
INSERT [dbo].[EnterpriseTypes] ([Id], [Name]) VALUES (25, N'Arts')
INSERT [dbo].[EnterpriseTypes] ([Id], [Name]) VALUES (2, N'Aviation')
GO
SET IDENTITY_INSERT [dbo].[Investors] ON 

INSERT [dbo].[Investors] ([Id], [Name], [City], [Country], [Balance], [Photo], [PortfolioValue], [FirstAccess], [SuperAngel], [UserId]) VALUES (1, N'Teste Apple', N'BH', N'Brasil', CAST(350000.00 AS Decimal(18, 2)), N'/uploads/investor/photo/1/cropped4991818370070749122.jpg', CAST(350000.00 AS Decimal(18, 2)), 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Investors] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password]) VALUES (1, N'testeapple@ioasys.com.br', N'12341234')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Enterprises] ADD  DEFAULT (CONVERT([bit],(0))) FOR [OwnEnterprise]
GO
ALTER TABLE [dbo].[Enterprises] ADD  DEFAULT ((0.0)) FOR [Value]
GO
ALTER TABLE [dbo].[Enterprises] ADD  DEFAULT ((0)) FOR [Shares]
GO
ALTER TABLE [dbo].[Enterprises] ADD  DEFAULT ((0.0)) FOR [SharePrice]
GO
ALTER TABLE [dbo].[Enterprises] ADD  DEFAULT ((0)) FOR [OwnShares]
GO
ALTER TABLE [dbo].[Investors] ADD  DEFAULT ((0.0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Investors] ADD  DEFAULT ((0.0)) FOR [PortfolioValue]
GO
ALTER TABLE [dbo].[Investors] ADD  DEFAULT (CONVERT([bit],(1))) FOR [FirstAccess]
GO
ALTER TABLE [dbo].[Investors] ADD  DEFAULT (CONVERT([bit],(0))) FOR [SuperAngel]
GO
ALTER TABLE [dbo].[Enterprises]  WITH CHECK ADD  CONSTRAINT [FK_Enterprises_EnterpriseTypes_EnterpriseTypeId] FOREIGN KEY([EnterpriseTypeId])
REFERENCES [dbo].[EnterpriseTypes] ([Id])
GO
ALTER TABLE [dbo].[Enterprises] CHECK CONSTRAINT [FK_Enterprises_EnterpriseTypes_EnterpriseTypeId]
GO
ALTER TABLE [dbo].[Enterprises]  WITH CHECK ADD  CONSTRAINT [FK_Enterprises_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Enterprises] CHECK CONSTRAINT [FK_Enterprises_Users_UserId]
GO
ALTER TABLE [dbo].[Investors]  WITH CHECK ADD  CONSTRAINT [FK_Investors_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Investors] CHECK CONSTRAINT [FK_Investors_Users_UserId]
GO
ALTER TABLE [dbo].[Portfolios]  WITH CHECK ADD  CONSTRAINT [FK_Portfolios_Enterprises_EnterpriseId] FOREIGN KEY([EnterpriseId])
REFERENCES [dbo].[Enterprises] ([Id])
GO
ALTER TABLE [dbo].[Portfolios] CHECK CONSTRAINT [FK_Portfolios_Enterprises_EnterpriseId]
GO
ALTER TABLE [dbo].[Portfolios]  WITH CHECK ADD  CONSTRAINT [FK_Portfolios_Investors_InvestorId] FOREIGN KEY([InvestorId])
REFERENCES [dbo].[Investors] ([Id])
GO
ALTER TABLE [dbo].[Portfolios] CHECK CONSTRAINT [FK_Portfolios_Investors_InvestorId]
GO
